/** Face Card **/
.scroll-margin-top {
  scroll-margin-top: 0;
}

.cardContainer {
  margin: 50px;
}

.border {
  height: 470px;
  width: 270px;
  background: transparent;
  border-radius: 10px;
  transition: border 1s;
  position: relative;
}

.border:hover {
  border: 1px solid white;
}

.card {
  height: 500px;
  width: 300px;
  background: grey;
  border-radius: 10px;
  transition: background 0.8s;
  overflow: hidden;
  background: black;
  /* box-shadow: 0 70px 63px -60px #000000; */
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.border h2 {
  color: #ffffff;
  font-family: "Plus Jakarta Sans";
  margin: 20px;
  font-size: 30px;
  font-weight: 600;
  opacity: 0;
  transition: opacity 1s;
}

.border:hover h2 {
  opacity: 1;
  width: 11.5ch;
  line-height: normal;
  font-size: 30px;
  border-right: 10px solid;
  animation:
    typing 2s steps(22),
    blink 0.5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.cardContainer:hover .border {
  border: 1px solid white;
}

.textContainer:hover ~ .border h2 {
  opacity: 1;
  width: 11.5ch;
  line-height: normal;
  font-size: 30px;
  border-right: 10px solid;
  animation:
    typing 2s steps(22),
    blink 0.5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
}

/** Face Card **/

/** Link Bar **/

/* .links {
  margin: 5px;
  font-size: 20px;
  transition: all 0.4s ease-in-out;
} */

/* .links:hover {
  margin: 5px;

  font-size: 30px;
} */

/** Link Bar **/

/** Portfolio Carousel **/

.item {
  margin: 0 15px 60px;
  width: 400px;
  height: 600px;
  display: flex;
  display: -webkit-flex;
  align-items: flex-end;
  -webkit-align-items: flex-end;
  background: #343434 no-repeat center center / cover;
  border-radius: 16px;
  overflow: hidden;
  position: relative;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  cursor: pointer;
}

.active {
  width: 600px;
  box-shadow: 12px 40px 40px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 12px 40px 40px rgba(0, 0, 0, 0.25);
}

.active .item_desc {
  transform: none;
  -webkit-transform: none;
}

.item:after {
  content: "";
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
}

.item_desc {
  padding: 0 24px 12px;
  color: #fff;
  position: relative;
  z-index: 1;
  overflow: hidden;
  transform: translateY(calc(100% - 54px));
  -webkit-transform: translateY(calc(100% - 54px));
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
}

.item_desc p {
  opacity: 0;
  transform: translateY(32px);
  -webkit-transform: translateY(32px);
  transition: all 0.4s ease-in-out 0.2s;
  -webkit-transition: all 0.4s ease-in-out 0.2s;
}

.active .item_desc p {
  margin-bottom: 20px;
  opacity: 1;
  transform: translateY(0);
  -webkit-transform: translateY(0);
}

/** Portfolio **/

/** Conveyor Belt **/
.belt {
  gap: var(--gap);
  /* background-color: var(--color-bg); */
}

.wrapper {
  --color-bg: #d4cab1;
  --color-bg-accent: #262626;
  --size: clamp(10rem, 1rem + 10vmin, 30rem);
  --gap: calc(var(--size) / 14);
  --duration: 30s;
  --scroll-start: 0;
  --scroll-end: calc(-100% - var(--gap));
  gap: var(--gap);
  /* color: var(--color-text); */
  /* background-color: var(--color-bg); */
}

.marquee {
  display: flex;
  overflow: hidden;
  user-select: none;
  gap: var(--gap);
  mask-image: linear-gradient(
    var(--mask-direction, to right),
    hsl(0 0% 0% / 0),
    hsl(0 0% 0% / 1) 20%,
    hsl(0 0% 0% / 1) 80%,
    hsl(0 0% 0% / 0)
  );
}

.marquee__group {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: var(--gap);
  min-width: 80%;
  animation: scroll-x var(--duration) linear infinite;
}

.marquee svg {
  display: grid;
  place-items: center;
  width: var(--size);
  fill: #fff;
  background: var(--color-bg-accent);
  aspect-ratio: 16/9;
  padding: calc(var(--size) / 10);
  border-radius: 0.5rem;
}

.marquee__reverse .marquee__group {
  animation-direction: reverse;
  animation-delay: -3s;
}

@media (prefers-reduced-motion: reduce) {
  .marquee__group {
    animation-play-state: paused;
  }
}

@keyframes scroll-x {
  from {
    transform: translateX(var(--scroll-start));
  }

  to {
    transform: translateX(var(--scroll-end));
  }
}

/** Conveyor Belt **/

/** Responsive **/
@media (max-width: 429px) {
  /** Portfolio **/
  .item {
    margin: 0 15px 60px;
    width: 320px;
    height: 500px;
    display: flex;
    display: -webkit-flex;
    align-items: flex-end;
    -webkit-align-items: flex-end;
    background: #343434 no-repeat center center / cover;
    border-radius: 16px;
    overflow: hidden;
    position: relative;
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    cursor: pointer;
  }

  .active {
    width: 370px;
    box-shadow: 12px 40px 40px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 12px 40px 40px rgba(0, 0, 0, 0.25);
  }

  .active .item_desc {
    transform: none;
    -webkit-transform: none;
  }

  .item:after {
    content: "";
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
  }

  .item_desc {
    padding: 0 24px 12px;
    color: #fff;
    position: relative;
    z-index: 1;
    overflow: hidden;
    transform: translateY(calc(100% - 54px));
    -webkit-transform: translateY(calc(100% - 54px));
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
  }

  .item_desc p {
    opacity: 0;
    transform: translateY(32px);
    -webkit-transform: translateY(32px);
    transition: all 0.4s ease-in-out 0.2s;
    -webkit-transition: all 0.4s ease-in-out 0.2s;
  }

  .active .item_desc p {
    opacity: 1;
    transform: translateY(0);
    -webkit-transform: translateY(0);
  }

  /** Portfolio **/
}
