@font-face {
  font-family: Jakarta;
  src: url("./styles/PlusJakartaSans-VariableFont_wght.ttf");
}
.Jakarta {
  font-family: Jakarta;
}

@font-face {
  font-family: Plus Jakarta Sans;
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url("https://fonts.gstatic.com/s/plusjakartasans/v8/LDIbaomQNQcsA88c7O9yZ4KMCoOg4IA6-91aHEjcWuA_KUn9QB_VMq2oRsWk0Fs.woff2")
    format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F,
    U+FE2E-FE2F;
}

.PlusJakarta {
  font-family: Plus Jakarta Sans;
}

.item_desc {
  padding: 0 24px 12px;
  color: #fff;
  position: relative;
  z-index: 1;
  overflow: hidden;
  transform: translateY(calc(100% - 54px));
  -webkit-transform: translateY(calc(100% - 54px));
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
}
